.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfvars.json
examples/talos/talosconfig

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl
